
body{
    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
h1{
    font-size: 45px;
}
.omg{
    color: orange;
}
.not{
    display: flex;
    margin-bottom:88px;
}
.uff{
    width: 50%;
    padding-left:5%;
    padding-right:5%;
}
.uff img{
    width: 88%;
}
 .link{
        text-decoration: none;
        background-image: linear-gradient(yellow, orange);
        padding: 10px 25px;
        border-radius: 15px;
        color:#b81313;
        font-weight: 700;
}
.first{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;

}
.love{
    background-image:url(images/dream-bg.png) ;
    background-repeat: no-repeat;
    background-position: right;
}
.dev{
    box-shadow:10px 10px 40px gray ;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 10px;
    width: 40%;
}
.pori{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
}
#ull{
    border-left: 7px solid;
    border-image: linear-gradient(hsl(12, 88%, 49%), #4d9f0c) 30;
    border border-image-slice: 1;
}
#sor{
    border-left: 7px solid;
    border-image: linear-gradient(hsl(246, 79%, 50%), #4d9f0c) 30;
    border border-image-slice: 1;
}
footer p{
    text-align: center;
    color: hsl(hue, saturation, lightness);
}